#map_canvas{:style => "width: 100%; height: 100%"}

:javascript
  $(function() {
    var mapOptions = {
      // The center is in St. Paul at the moment.
      center: new google.maps.LatLng(44.954215, -93.089819),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    $.ajax({
      url: '/crashes/map',
      dataType: 'json',
      success: function(response) {
        $.each(response, function(index, crashData) {
          var crash = new google.maps.Marker({
            position: new google.maps.LatLng(crashData.location[1], crashData.location[0]),
            title: 'A crash'
          });
          crash.setMap(map);
          
          google.maps.event.addListener(crash, 'click', function() {
            new google.maps.InfoWindow({
              content: "<p>This is some crash-specific data!</p><p>here is some more!</p>",
              size: new google.maps.Size(50, 50)
            }).open(map, crash);
          });  
        })
      }
    });
  });