#map_canvas{:style => "width: 100%; height: 100%"}

:javascript
  $(function() {
    var mapOptions = {
      // The center is in St. Paul at the moment.
      center: new google.maps.LatLng(45.954215, -93.089819),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    var markers = [];
    var clearMarkers = function() {
      $.each(markers, function(index, marker) {
        marker.setMap(null);
      });
      markers = [];
    };
    
    var processCrashes = function(args) {
      $.ajax({
        url: args.path + "?year=" + args.year,
        dataType: 'json',
        success: function(response) {
          clearMarkers();
          $.each(response, function(index, crashData) {
            var crash = new google.maps.Marker({
              position: new google.maps.LatLng(crashData.location[1], crashData.location[0]),
              map: map
            });
            markers.push(crash);
            
            google.maps.event.addListener(crash, 'click', function() {
              new google.maps.InfoWindow({
                content: args.content(crashData),
                size: new google.maps.Size(50, 50)
              }).open(map, crash);
            });
          });
        }
      });
    };
    
    var state = function(year) {
      processCrashes({
        path: "#{states_path}",
        year: '2010',
        content: function(crashData) {
          return "<p>" + crashData.year + "</p><p>" + crashData.count + " crashes</p>";
        }
      });
    };
    
    var county = function(year) {
      processCrashes({
        path: "#{counties_path}",
        year: '2010',
        content: function(crashData) {
          return "<p>" + crashData.county + " county, " + crashData.year + "</p><p>" + crashData.count + " crashes</p>";
        }
      });
    };
    
    var city = function(year) {
      processCrashes({
        path: "#{cities_path}",
        year: '2010',
        content: function(crashData) {
          return "<p>" + crashData.city + ", " + crashData.year + "</p><p>" + crashData.count + " crashes</p>";
        }
      });
    };
    
    // Default to state totals, zoomed out fairly far
    state('2010');
    
    google.maps.event.addListener(map, 'zoom_changed', function() {
      var zoomLevel = map.getZoom();
      if (zoomLevel <= 5) {
        state('2010');
      } else if (zoomLevel >= 6 && zoomLevel <= 8) {
        county('2010');
      } else {
        city('2010');
      }
    });
  });