#slider{:style => "display: inline-block; position: relative; width: 100%;"}
#year
%div{:style => "display: inline-block; position: relative; width: 100%;"}
  %div{:style => "margin-top: 75%;"}
    #map_canvas
