#map_canvas{:style => "width: 100%; height: 100%"}

:javascript
  var initialize;
  $(function() {
    var mapOptions = {
      center: new google.maps.LatLng(44.954215, -93.089819),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    var crash = new google.maps.Marker({
      position: new google.maps.LatLng(44.9469342809299, -93.0871286770913),
      title: "Some crash"
    });
    crash.setMap(map);
  });