- content_for :javascript do
  :javascript
    $(function() {
      var locationIds = #{@locations.map { |l| l.id.to_s } };
      if (locationIds.length > 0) {
        var trends = new Trends();
        trends.yearly();
        trends.monthly();
        trends.daily();
      }
    });

.content
  - if @locations.size > 0
    .row
      .span12
        #yearly.chartWrapper
    .row
      .span12
        #monthly.chartWrapper
    .row
      .span12
        #weekday.chartWrapper
  - else
    .row
      .span12
        %h3
          You will need to create some locations before trends are available.