- content_for :javascript do
  :javascript
    $(function() {
      var trends = new Trends();
      var locationIds = #{@locations.map { |l| l.id.to_s } };
      trends.yearly(locationIds);
      trends.monthly(locationIds);
      trends.daily(locationIds);
    });

.content
  .row
    .span12
      #yearly.chartWrapper
  .row
    .span12
      #monthly.chartWrapper
  .row
    .span12
      #daily.chartWrapper
