.hero-unit
  %h1 Crash Finder
  %p Crash Finder is a tool that lets you take a closer look at crash data.  View top crash areas, just browse around, or sign up to view trends across locations of your choice.
.row
  .span3
    %h2 Top 100
    %p View the top 100 crash locations in the most recent complete year available:  2011.
    %p
      %a.btn{:href => top_index_path}
        Top 100 &raquo;
  .span3
    %h2 Browse
    %p Browse through clusters of crashes.
    %p
      %a.btn{:href => clusters_path}
        Browse &raquo;
  .span3
    %h2 Locations
    %p Create locations by using the drawing tool to draw boxes over areas of interest.
    %p
      %a.btn{:href => locations_path}
        Locations &raquo;
  .span3
    %h2 Trends
    %p View crash trends across your locations.
    %p
      %a.btn{:href => trends_path}
        Trends &raquo;