- content_for :javascript do
  :javascript
    $(function() {
      var map = new LocationMap();
      var locationIds = #{@locations.map { |l| l.id.to_s } };
      
      if (locationIds && locationIds.length > 0) {
        $.each(locationIds, function(index, locationId) {
          map.draw(locationId);
          $("#location").on("change", function(e) {
            e.preventDefault();
            map.center(this.value);
          });
        });
        
        map.center(locationIds[0]);
      } else {
        map.blank();
      }
    });
    
.content
  .row
    .span12
      = select_tag :location, options_from_collection_for_select(@locations, :id, :label)
  .row
    .span12
      %div{:style => "display: inline-block; position: relative; width: 100%;"}
        %div{:style => "margin-top: 75%;"}
          #map_canvas
