- content_for :javascript do
  :javascript
    $(function() {
      var map = new LocationMap();
      var locationIds = #{@locations.map { |l| l.id.to_s } };
      
      $("#location").on("change", function(e) {
        e.preventDefault();
        map.center(this.value);
      });
      
      $('#delete').click(function(e) {
        e.preventDefault();
        var locationId = $(this).data('locationId');
        map.erase(locationId);
      });
      
      if (locationIds && locationIds.length > 0) {
        $.each(locationIds, function(index, locationId) {
          map.draw(locationId);
        });
        
        map.center(locationIds[0]);
      } else {
        map.blank();
      }
    });
    
.content
  - if @locations.size == 0
    .row
      .span12
        %h3
          Use the drawing tools in the upper left-hand corner of the map to create new locations.
  .row
    .span3
      = select_tag :location, options_from_collection_for_select(@locations, :id, :label)
    .span9
      %a#delete.btn{:href => top_index_path}
        Delete
  .row
    .span12
      %div{:style => "display: inline-block; position: relative; width: 100%;"}
        %div{:style => "margin-top: 75%;"}
          #map_canvas
